@import "./custom.scss";
@import "./font.scss";
@import "./mediaqueries.scss";

.flaxcode{
    .sidebar{
        width: 22%;
    }
    .links{
        // padding-top: 48px;
        h2{
        font-weight: 600;
        font-size: 24px;
        color: #A9B3BC;
        margin-bottom: 48px;
        margin-top: 10px;
        }
        h3{
            font-size: 18px;
        }
        P{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.3);
            margin-top: 20px;
        }
        button{
            font-family: 'Inter';
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 80px;
            background: transparent;
            padding: 14px 60px;
            margin-top: 48px;
            cursor: pointer;
        }
    }
    .signup_phone {
        h3{
            font-size: 18px;
            margin-top: 48px;
        }
        h2{
            font-family: 'Outfit';
            font-weight: 600;
            font-size: 28px;
            color: #C6D4E2;
            margin-top: 32px;
            margin-bottom: 16px;
            
        }
        img{
            width: 125px;
        }
        button{
            font-family: 'Inter';
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 80px;
            background: transparent;
            padding: 14px 18px;
            margin-top: 32px;
            cursor: pointer;
        }
    }
}